/DevJobs/.phpunit.cache
/DevJobs/node_modules
/DevJobs/public/build
/DevJobs/public/hot
/DevJobs/public/storage
/DevJobs/storage/*.key
/DevJobs/storage/pail
/DevJobs/vendor
/DevJobs/.env
/DevJobs/.env.backup
/DevJobs/.env.production
/DevJobs/.phpactor.json
/DevJobs/.phpunit.result.cache
/DevJobs/Homestead.json
/DevJobs/Homestead.yaml
/DevJobs/npm-debug.log
/DevJobs/yarn-error.log
/DevJobs/auth.json
/DevJobs/.fleet
/DevJobs/.idea
/DevJobs/.nova
/DevJobs/.vscode
/DevJobs/.zed
/React-DevJobs/node_modules
/React-DevJobs/.env
